*{
	/*background-color: lightblue; */
}
body{
	background-color: lightblue;
	background:lightblue;
	background:linear-gradient(top, white, lightblue);
	background:-moz-linear-gradient(top, white, lightblue);
	background:-webkit-linear-gradient(top, white, lightblue);
	background:-o-linear-gradient(top, white, lightblue);
	background:-ms-linear-gradient(top, white, lightblue); }
}
#post{
	width:30%;
	float:left;
	color:blue;
	margin-right: 10px;
}
#title{
	padding-top: 10px; */
	float: right;
	width:70%;
	color: brown;
}
#title h1{
	color: blue;
	font-size: 35px;
}
#title h2{
	color: blue;
}
.main-nav{
	width: 100%;
	float: all;
	font-size: 25px;
	list-style: none; 
	margin-left: 55px;
	margin-top: 20px; 
	padding-left: 0px;
}
.main-nav li{	
	text-shadow: 4px 4px 4px white;
	float: center;
	display: inline-table;
	color: blue;
	margin-right: 30px;
	border: 1px solid lightblue;
	background-color:blur;  
}
.main-nav li:hover{
	background-color: navy;
	transition: ease-in 0.3s;
}/*
.main-nav li.active{
	border: 2px solid white;
	background-color: navy;
}  */ 
.main-nav li a:hover {
	background-color: aliceblue;
} */
.main-nav ul li a{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	margin-right: 20px;
	font-family:"Roboto",sans-serif;
	font-size: 25px;
	font-style: bold;
	color: teal;
}

/*
#navbar ul li a{
	color: blue;
	text-decoration: none;
	padding: 5px 20px; 
	font-family: helvitica;
	font-size: 20px;
	font-style: bold;
}
#navbar li.active a
{
	border: 2px solid white;
}

#navbar li a:hover 
{
	border: none;
	background-color: lightgreen;
}
#navbar li{
	display: inline ; 
}s

*/

.hero{
	position: absolute;
	width:1200px;
	margin-left: 0px;
	margin-top: 0px;
	font-style: tahoma;
}
.hero h1{
	width:100%;
	color : navy;
	text-transform: uppercase; 
	font-size:70px;
	text-align:center;
	/*margin-top:225px;*/
}
.hero h2{
	font-size: 45px;
	font-style: verdana;
	color: aliceblue;
	text-align: center;
}
.hero h3{
	font-size: 25px;
	color:rgb(78, 65, 60)
	text-align: center;
}
.clr{
	clear: both;
}
#main{
	font-size: 18px;
	float:left;
	color: navy;
	width:65%;
	padding :0 30px;
	box-sizing:border-box;
}

.below{
	float:right;
	width:35%;
	background-color:navy;
	color: aliceblue;
	padding: 15px;
	box-sizing:border-box;
	border-style: ridge;
	border-radius: 40px;
	box-shadow: 10px 10px 5px white;
}
#sidebar{
	/*float:right;
	width:30%;  */
	text-align: center;
	margin-top: 40px;
	background-color:navy;
	color: aliceblue;
	padding: 15px;
	box-sizing:border-box;
	border-style: ridge;
	border-radius: 40px;
	box-shadow: 10px 10px 5px white;
} 
.button{
	
	margin-top:50px;
	margin-right: 250px; 
	margin-left: 25px;
	overflow: auto;
	display: inline-table;
}
.btn{
	border: 1px solid blue;
	padding: 10px 30px;*/
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one{
	background-color: aliceblue; 
	font-family: serif;
}
.btn-one:hover{
	background-color: blue;
	transition: all 0.2s ease-in;
}
.btn-two{
	background-color: aliceblue;
	font-family: serif;
}
.btn-two:hover{
	background-color: blue;
	transition: all 0.2s ease-in;
}


#mainfooter{
	background: aliceblue;
	color: navy;
	font-style:  bold italic;
	text-align: center;
	padding:5px;
	margin-top:40px;
}


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}