div.img {
    margin: 5px;
    border: 1px solid #ccc;
    left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 270;
    height:430;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.container{
	margin-top: 0;
	line-height: 2.0em;
	text-shadow: 3px 3px 4px white;
	text-decoration: blink; 
}
.over container{
	text-decoration: blink; 
} 
.container h1{
	text-shadow: 3px 3px 4px black
} 